---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <header>
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ab, libero, quam explicabo qui modi consequatur sint nisi harum quaerat unde eos officiis? Sed quasi eveniet ipsam reiciendis hic ipsa?</p>
  </header>
</MainLayout>
