---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
    <header>
        <h1>About</h1>
        <p>Noget om noget</p>
        <p>Og noget andet</p>
    </header>
</PageLayout>
