---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro 02</title>
	</head>
	<body>
		<h1>Astro 02</h1>
		<p>Hej hej med dig</p>
		<h2>Headline</h2>
		<p>Mere tekst</p>
		<h2>Endnu en headline</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis nihil, asperiores debitis ut voluptates quasi blanditiis adipisci! Repudiandae eos corporis, distinctio est consequatur accusantium amet necessitatibus, veritatis laudantium ut quia!</p>
	</body>
</html>
