---
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro 02</title>
  </head>
  <body>
    <h1>Astro 02</h1>
    <p>Hej hej med dig</p>
    <h2>Headline</h2>
    <p>Mere tekst</p>

    <section>
      <h2>Card section</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque nisi consectetur soluta dicta molestiae ipsam odit, iure error quisquam sed dolorum quod animi assumenda perspiciatis ipsa aperiam voluptatibus eveniet!</p>

      <Card img="/imgs/Card-img-01.webp" headline="Card overskrift" text="Et itaque nisi consectetur"/>
	  <Card img="/imgs/Card-img-02.webp" headline="Overskrift" text="Lorem ipsum dolor sit amet"/>
	  <Card img="/imgs/Card-img-03.webp" headline="Card Yo" text="dicta molestiae ipsam odit, "/>
    </section>
  </body>
</html>
